[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
environs = "*"
celery = "*"
psycopg2-binary = "*"
dj-database-url = "*"
flower = "*"
braintree = "*"
weasyprint = "*"
django-rosetta = "*"
django-parler = "*"

[dev-packages]

[requires]
python_version = "3.8"
